<% if user_signed_in? %>
  <p><%= link_to 'Create Album', new_album_path ,class:'btn btn-mini btn-primary' %></p> |
  <%= link_to 'Album list', albums_path , class:'btn btn-mini btn-dark'%>|
<% else %>
  <p><%= link_to 'Register Now', new_user_registration_path , class:'btn btn-mini btn-info'%></p>
<% end %>

      <nav>
        <ul>
          <li><%= link_to 'Home', root_path, class:'btn btn-mini btn-info' %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Logout (#{current_user.email})", destroy_user_session_path, :method => :delete ,class:'btn btn-mini btn-danger'%></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path  %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path  %></li>
          <% end %>
        </ul>
      </nav>